# .dockerignore

# Node modules - prevent copying host's node_modules to the Docker image
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Dockerfile and .dockerignore should not be copied to the image
Dockerfile
.dockerignore

# Git files
.git
.gitignore


# Misc
*.md
*.log
